<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <RegexFilter regex="ImprovedProperties" onMatch="DENY" onMismatch="ACCEPT"/>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <RegexFilter regex=".*mainLoop.*" onMatch="DENY" onMismatch="NEUTRAL"/>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>

